/*top text styling*/

.panel .name {
    background-color: #f3ebf5;
    font-family: 'Bungee', cursive;
    font-size: 58px;
    color: #55d3ab;
}

.panel {
    font-size: 22px;
    font-family: 'Gloria Hallelujah', cursive;
}


#addButton {
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
    background-color: white;
}


.text {
    margin-top: 3%;
}

/*gif div*/

#gifForm {
    text-align: center;
}

#startingButtons {
    margin: 5%;
    text-align: center;
}

button {
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.topic {
    font-family: 'Bungee', cursive;
}


/*form*/

form {
    text-align: center;
    font-family: 'Bungee', cursive;
}

#gif-input {
    box-sizing: 185px, 25px;
    margin: 2%;
}

label {
    font-family: 'Gloria Hallelujah', cursive;
}

#addGif {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 3%;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #55d3ab;
    color: white;
}

/*gif image area and appeared gifs*/

.jumbotron {
    background-color: transparent !important;
}

.jumbotron img {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.item p {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}